<%-include('header/partial')%>

<div class="mb-5 invisible">ah</div>

<div class="container">
    <form action="">
        <button type="submit">Publish</button>
        <h2 class="mb-2">blog.title</h2>
        <div class="author mb-2 border-bottom">
            <div class="profile">
                <symbol id="check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
            </div>
            <div >
                <p>blog.author</p>
                <div class="time">
                    <p>blog.reading_time</p>
                    <p>blog.published</p>
                </div>
            </div>
        </div>
        <p class="mb-5">blog.body</p>
        <p>blog.tags</p>

        <p>read_count</p>

        <div class="buttons">
            <button><a href="">Delete post</a></button>
            <button><a href="">Edit post</a></button>
        </div>
    </form>
</div>

<%-include('partials/footer')%>